.home__info__tile{
    width: 20%; 
    height: 200px; 
    margin-top: 10px; 
    margin-left: 5%; 
}

.home__row{
    height: auto !important; 
}
.home__row:hover{

    background-color: lightgray;
    cursor: pointer; 
    

}

.home__data{
    height: 10px !important; 
    font-size: 10 !important; 
    margin-top: 2 !important; 
}



.home__graph_y_axis{
    width: 350px; 
    height: 20px; 
    margin-top: 250px; 
    transform-origin: top left; 
    transform: rotate(-90deg);
   
    
}