.Navbar__Logo{
    margin-right: 20px !important;
    color:white !important;
    font-variant-caps: normal !important;
    font-size: 12px !important; 
    ;
    
  }
  
  
  .Navbar__Button{
    margin-right: 20px !important;
    color:white !important;
    font-variant-caps: normal !important;
    
  }
  
  
  .Navbar__Button:hover{
    
      font-weight: bold;
  
  }
  
  
  
  .Navbar__AppBar{
      background-color: #1976d2 !important; 
      
      
  }